In [1]:
#Fundamentos em Big Data
#Tarefa 04 Spark
#Grupo 03
#11/02/2021

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType

In [3]:
spark = SparkSession.builder \
                    .appName("Tarefa_04") \
                    .config("spark.some.config.option", "some-value") \
                    .getOrCreate()

In [4]:
df = spark.read.csv('DNPBA2017.csv', header=True)

In [14]:
%%time
#Gere um subset com todas as mães que tem mais que 40 anos.
df2 = df.filter(F.col('IDADEMAE')>40)

CPU times: user 2.73 ms, sys: 0 ns, total: 2.73 ms
Wall time: 44.8 ms

In [22]:
df2.filter(F.col('IDADEMAE')!='NA').describe('IDADEMAE').show()

+-------+------------------+
|summary|          IDADEMAE|
+-------+------------------+
|  count|              3735|
|   mean| 42.41472556894244|
| stddev|1.7832907490020273|
|    min|                41|
|    max|                61|
+-------+------------------+

In [13]:
%%time
#Obtenha estatísticas descritivas do atributo de escolaridade da mãe (min, max, avg, std)
df.filter(F.col('ESCMAE')!='NA').describe('ESCMAE').show()

+-------+------------------+
|summary|            ESCMAE|
+-------+------------------+
|  count|            201501|
|   mean|3.9631912496712176|
| stddev| 1.096835035129217|
|    min|                 1|
|    max|                 9|
+-------+------------------+

CPU times: user 5.28 ms, sys: 138 µs, total: 5.42 ms
Wall time: 1.44 s

In [25]:
%%time
#Faça uma agregação para saber a quantidade de crianças nascidas em cada município da Bahia.
df.groupBy('CODMUNNASC').count().orderBy('CODMUNNASC').show()

+----------+-----+
|CODMUNNASC|count|
+----------+-----+
|    150380|    1|
|    170700|    6|
|    171820|    2|
|    171890|    1|
|    172100|    9|
|    210340|    1|
|    220110|    1|
|    220190|    2|
|    220290|   11|
|    220300|    1|
|    220320|    2|
|    220390|    3|
|    220800|    1|
|    221060|   74|
|    221100|    3|
|    230030|    1|
|    230190|    1|
|    230250|    1|
|    230370|    1|
|    230440|    4|
+----------+-----+
only showing top 20 rows

CPU times: user 1.94 ms, sys: 8.42 ms, total: 10.4 ms
Wall time: 2.3 s

In [40]:
%%time
#Gere um subset com todas as mães entre 20 e 50 anos que tiveram filhos no primeiro dia do ano.
df3 = df.where(F.substring(F.col('DTNASC'), 1, 4)=='0101').filter(F.col('IDADEMAE').between(20, 50))

CPU times: user 4.22 ms, sys: 782 µs, total: 5 ms
Wall time: 50.3 ms